



<div class="container">
    {{fname}}
  <mat-card>
    <mat-card-header>
     <mat-card-title>Resume Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
              <mat-form-field class="full-width">
              Name
              {{fname}}
              </mat-form-field>
              <div>
                
                {{jobApplications.name}} 
              </div>
              <br>
              <mat-form-field class="full-width">
                  Skills
              </mat-form-field>
              <div>
                {{jobApplications
                  .skills}} 
              </div>
                <mat-form-field class="full-width">
                Education    
                </mat-form-field>

                <div>
                  {{jobApplications.education}} 
                </div>
            
      </mat-card-content>
  </mat-card>
</div>
